<div class="container pt-5">
  <h1>Restaurants</h1>

  <div>
    <ul class="list-group pt-3">
      <% @restaurants.each do |restaurant| %>
        <li class="list-group-item list-group-item-action"><%= link_to restaurant.name, restaurant_path(restaurant), class:"text-decoration-none text-black" %></li>
      <% end %>
    </ul>
  </div>

  <p class="pt-3"><%= link_to "Add new restaurant", new_restaurant_path, class:"btn btn-primary" %></p>
</div>